@keyframes leftShift {
  0% {
    transform: translateX(500px);
    opacity: 0.01;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes upShift {
  0% {
    transform: translateY(50px);
    opacity: 0.01;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rightShift {
  0% {
    transform: translateX(-500px);
    opacity: 0.01;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes upShift-title {
  0% {
    transform: translateY(20px) scale(0.2);
    opacity: 0.01;
  }
  35% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes btn-size {
  0% {
    transform: scale(0.2);
    opacity: 0.01;
  }
  35% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes section-shift-l {
  0% {
    transform: translateX(-100%);
    opacity: 0.01;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes section-shift-r {
  0% {
    transform: translateX(100%);
    opacity: 0.01;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes header-color {
  0% {
    background-color: rgba(#1b262c, 0.1);
  }
  10% {
    background-color: #1b262c;
  }
}

@keyframes leftShiftSec {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes upShiftSec {
  0% {
    transform: translateY(500px);
    opacity: 0.01;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rightShiftSec {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes icon-scale {
  0% {
    transform: scale(1);
    transform-origin: 0 100;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-scale-shadow {
  0% {
    box-shadow: 7px 7px 0px 0px rgba(black, 1);
  }
  50% {
    box-shadow: 14px 14px 0px 7px rgba(black, 1);
  }
  100% {
    box-shadow: 7px 7px 0px 0px rgba(black, 1);
  }
}
