$main : #43d590;
$second : #ffffe0;
$third : #1b262c;
$timeline: #ecda3c;


$text-prim: $third;
$text-second: #fff;



$logo-width : clamp(100px, 12vw, 400px);
$logo-height : clamp(100px, 12vw, 400px);

$greenh-width : clamp(70px, 12vw, 200px);
$greenh-height : clamp(35px, 6vw, 100px);
