---
import Layout from "../layouts/Layout.astro";
import Projet from "../layouts/Projet.astro";
import Footer from "../components/Footer.astro";
import Contact from "../layouts/Contact.astro";
import Bio from "../layouts/Bio.astro";
import Timeline from "../layouts/Timeline.astro";
import banner from '../assets/nbanner.png'
import { Image } from "astro:assets";
---

<Layout title="Jeremy Sersoub - Developpeur web">
  <main>
    

    <Projet />
    <Bio />
    <Timeline />
    <Contact />
  </main>
  <Footer />
</Layout>

<style>
  :root {
    font-family: "system-ui", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
  }

  

  /*# sourceMappingURL=style.css.map */
</style>
