---
import Layout from "../layouts/Layout.astro";
import Projet from "../layouts/Projet.astro";
import Footer from "../components/Footer.astro";
import Contact from "../layouts/Contact.astro";
import Bio from "../layouts/Bio.astro";
---

<Layout title="Jeremy Sersoub - Developpeur web">
  <main>
    <section class="banner" id="banner">
      <h1>Jeremy Sersoub Developpeur web</h1>
    </section>

    <Projet />
    <Bio />
    <Contact />
  </main>
  <Footer />
</Layout>

<style>
  :root {
    font-family: "system-ui", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
  }

  .banner {
    display: flex;
    height: 92vh;
    background: rgb(11, 13, 13);
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  }
  .banner h1 {
    padding-top: 30px;
    align-self: center;
    padding-bottom: 15px;
  }

  /*# sourceMappingURL=style.css.map */
</style>
