---
import LayoutProjet from "../layouts/BaseLayout/LayoutProjet.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const allproj = await getCollection('projectlist')
console.log(allproj);

---

<LayoutProjet title="Projets">
  <main>
    <h1>Projets</h1>
    <p>Galerie des projets que j'ai eu l'occasion de réaliser.<br> (Cliquez sur un projet pour accéder au site) </p>
    <div class="container">
      {
        allproj.map((projet) => (
          <Card
            title={projet.data.titre}
            desc={projet.data.description}
            img={projet.data.image}
            balise='b'
            url={projet.data.link}
          />
        ))
      }
    </div>
  </main>
</LayoutProjet>

<style lang="scss">
 

  main {
    min-height: 90vh;
    background-color: $second;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px;
    text-align: center;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    justify-items: center;
    column-gap: 2vw;
    row-gap: 5vh;
    padding: 100px 0;
    @media screen and (max-width:1024px) {
      grid-template-columns : 1fr 1fr;
      
    }
    @media screen and (max-width:724px) {
      grid-template-columns : 1fr;
      
    }
  }
  h1 {
    @include title($main);
  }
</style>
