---

---

<footer>
  <p>Jeremy Sersoub, 2023</p>
</footer>

<style lang="scss">
  footer {
    background-color: $third;
    color: $text-prim;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
</style>
