---

---

<footer>
  <p>Jeremy Sersoub, 2023</p>
</footer>

<style>
  footer {
    background-color: rgb(52, 52, 52);
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
</style>
