---
import { Image } from "astro:assets";
const { head } = Astro.props;
import logo from '../assets/logo.png'
---


  <header class="header">
    <div class="logo">
     
      <a href="./"> <Image src={logo} alt='logo'/></a>
    </div>
    <nav class="navbar">
      <ul>
        <li>
          <a href="./#project">Mes projets</a>
        </li>
        <li>
          <a href="./#bio">Bio</a>
        </li>
        <li>
          <a href="./#contact">contact</a>
        </li>
      </ul>
    </nav>
  </header>


<style lang="scss">
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#1b262c, 0.10);
    box-shadow:
      0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    height: 8vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    
  }
  

  .logo {
    margin-left: 30px;
    & img{
      height: 40px;
      width: 40px;
    }
  }
  .logo a {
    color: white;
    text-decoration: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-right: 50px;
  }
  .navbar ul li {
    list-style: none;
  }
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
</style>
