---
const {title,content,link} = Astro.props
import '../Timeline/Timeline.scss'
---


    <div class="timeline-empty"></div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-component timeline-content">
      <h3>{title}</h3>
      <p>{content}</p>
      <a class="link" href={link} target="_blank" rel="noopener noreferrer"></a>
    </div>

    