.timeline-content {
  position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background: #43d590;
    color: $text-prim;
    padding: 5px;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.99);
    border: 1px solid black;
    text-shadow: 1px 1px black;
    
  }
  @media screen and (min-width: 768px) {
    
    .timeline-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $timeline;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .timeline-middle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $timeline;
      width: 3px;
      height: 100%;
    }
  }

  .link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }