---

---

<section class="bio" id="bio">
  <h2>Formation et competences</h2>
  <div class="bio-container">
    <img src="" alt="" />
    <article>
      <p>
        J'ai suivi durant l'annee 2023 la formation openclassroom d'integrateur
        web qui m'as permis de découvrir les bases du developpement front end
        j'ai eu l'occasion d'apprendre differentes technologies telles que Html
        css javascript React ... Le point fort de ce cursus est l'accent qui est
        mis sur le developpement d'une autonomie en tant que developpeur. Les
        differents projets que j'ai pu realiser suivait un template similaire
        avec souvent une maquette a implementer et des fonctionnalites a mettre
        en place et il me revenait de determiner la marche a suivre pour obtenir
        le resultat attendu. Ainsi en plus des competences purement techniques
        qu'il etait necessaires que j'acquiert pour mettre en place les
        solutions, j'ai aussi pu grandement travailler sur ma capcite a resoudre
        des problemes.
      </p>
      <p>
        Cette methode de travail m'as permis d'apprendre a exploiter le large
        choix d'outils existant pour selectionner celui qui sera le plus adapte
        a la resolution d'un probleme mais aussi a etre efficace dans
        l'apprentissage de la mise en oeuvre de celui-ci afin de mettre en place
        une solution qui repond idealment a mon probleme initial.
      </p>
    </article>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Dolor sed viverra
        ipsum nunc aliquet bibendum enim facilisis. Sit amet mattis vulputate
        enim nulla aliquet porttitor lacus. Pretium viverra suspendisse potenti
        nullam ac tortor vitae purus faucibus. Et malesuada fames ac turpis
        egestas integer. Dictum non consectetur a erat nam at lectus. At urna
        condimentum mattis pellentesque id nibh tortor id. Pharetra pharetra
        massa massa ultricies. Vitae aliquet nec ullamcorper sit amet risus
        nullam. Nunc sed id semper risus in. Senectus et netus et malesuada
        fames. Massa vitae tortor condimentum lacinia quis vel eros donec ac.
        Vitae justo eget magna fermentum iaculis eu. Nisl rhoncus mattis rhoncus
        urna neque viverra justo nec.
      </p>
      <p>
        Fringilla est ullamcorper eget nulla. Ornare arcu odio ut sem nulla
        pharetra diam sit. Non blandit massa enim nec dui nunc. Iaculis urna id
        volutpat lacus laoreet. Erat velit scelerisque in dictum non consectetur
        a eifend quam adipiscing vitae proin sagittis nisl. Lectus vestibulum
        mattis ullamcorper velit. Neque sodales ut etiam sit amet nisl purus in.
        Integer malesuada nunc vel risus commodo viverra maecenas accumsan.
        Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Aliquet
        risus feugiat in ante metus dictum at tempor commodo.
      </p>
    </article>
  </div>
</section>

<style>
  .bio {
    display: flex;
    flex-direction: column;
    /* background-image: url("../assets/contactbg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
    min-height: 60vh;
    background-color: white;
    color: #1b262c;
    border-top: 2px solid grey;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .bio h2 {
    width: fit-content;
    padding: 15px;
    font-size: 32px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
  }
  .bio p {
    font-size: 20px;
  }
  .bio-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
  }
  .bio-container article {
    padding: 0 20px;
  }
</style>
