---
import { Image } from "astro:assets";
import profile from "../assets/profil.jpeg";
---

<section>
  <h2>Bio</h2>
  <div class="bio-container" id="bio">
    <article>
      <p>
        Bonjour, je suis Jeremy Sersoub. Je suis actuellement en reconversion
        dans le développement web après des études de droit et je suis à la
        recherche d'une alternance.<br /> J'ai eu l'occasion de commencer ma
        formation en autodidacte dans un premier temps, dans la data science
        afin de lier ma formation initiale avec mon intérêt pour le domaine du
        développement, mais j'ai rapidement compris que je souhaitais m'investir
        totalement dans ce dernier. J'ai donc démarré une formation de
        développeur web avec OpenClassrooms et je souhaite maintenant poursuivre
        sur cette voie grâce à une alternance pour approfondir ma connaissance
        théorique tout en me perfectionnant avec une pratique quotidienne du
        développement dans un contexte professionnel.
      </p>
      <p>
        Ce portfolio vous permettra d'avoir une idée de ce dont je suis capable
        actuellement afin, je l'espère, de vous encourager à me faire confiance
        pour intégrer votre équipe en tant qu'alternant.<br /> Bonne visite !
      </p>
    </article>
    <div class="profile-container">
      <Image
        class="profil"
        src={profile}
        alt="photo de profil"
        format="avif"
        style='height:100%,width:100%,object-fit:cover'
        ;
      />
    </div>
  </div>
</section>

<style lang="scss">
  section {
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    border-top:2px solid $third;
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 50px));
    @include animate-section-r;

    

    & h2 {
     @include title($second);
     animation: rightShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 75% cover 75% ;
    }
    & article {
      color: $text-prim;
      font-size: clamp(12px, 4vw,20px);
      padding: 0px 5vw;
      width: 50%;
      text-align: justify;
      letter-spacing: 1px;
      word-spacing: -1px;
      animation: rightShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
    }
  }
  .profil {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    animation: leftShiftSec linear  both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
    
  }
  
  .bio-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
    @media screen and (max-width: 1023px) {
        flex-direction: column-reverse;
        
        & article {
            width: 100% ;
        }
        & .profil{
            height: 100%;
            width: 100%;
        }
    }
  }
  .profile-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
