---

---

<section class="contact" id="contact">
  <h2>Contact</h2>
  <a class="contact-button" href="mailto:jerem.sers@gmail.com"> Contactez-moi </a>
</section>


<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: white;
    /* background-image: url("../assets/contactbg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
    border-top: 2px solid grey;
    & a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 100px;
      background-color: #43d590;
      text-decoration: none;
      color: white;
      border-radius: 10px;
    }
    & h2 {
      padding-top: 15px;
      font-size: 48px;
      text-align: center;
      padding-bottom: 15px;
    }
  }
 
</style>
