---

---

<section class="contact" id="contact">
  <h2>Contact</h2>
  <div class="contact-container">
    <div class="link-container">
      <a class="contact-button" href="mailto:contact@jsersoub.fr" aria-hidden>
        Contactez-moi
      </a>
    </div>
    </div>
</section>

<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 40px;
    background-color: $main;
    height: 65vh;
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
    /* @include animate-section-r; */
     &-container{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: $main;
      animation: leftShiftSec linear both;
      animation-timeline: view();
      animation-range: entry 25% cover 25%;
     }
    .link-container {
      border-radius: 10px;
      animation: icon-scale-shadow infinite 5000ms;
      width: 280px;
      height: 100px;
      background-color: $second;
    }
    
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 100px;
      background-color: $second;
      text-decoration: none;
      color: $third;
      border-radius: 10px;
      
      animation: icon-scale infinite 5000ms;
      font-weight: bold;
    }
    & h2 {
      @include title($second);
      animation: rightShiftSec linear both;
      animation-timeline: view();
      animation-range: entry 55% cover 55%;
    }
  }
</style>
