---

---

<section class="contact" id="contact">
  <h2>Contact</h2>
  <a class="contact-button" href="mailto:jerem.sers@gmail.com"> Contactez-moi </a>
</section>


<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background-color: $main;
    min-height:65vh;
    /* background-image: url("../assets/contactbg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
    /* border-top: 2px solid grey; */
    clip-path: polygon(0 50px,100% 0,100% 100%,0 100%);
  margin-top: -40px;
  @include animate-section-r;
    & a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 100px;
      background-color: $third;
      text-decoration: none;
      color: $second;
      border-radius: 10px;
      margin-bottom: 100px;
    }
    & h2 {
      @include title($second)
    }
  }
 
</style>
