---
import TimelineOdd from "../components/Timeline/TimelineOdd.astro";
import TimelinePair from "../components/Timeline/TimelinePair.astro";
const datacamp = 'https://www.datacamp.com/completed/statement-of-accomplishment/track/b549636e214d0771bdcb4710df8dcf3ca40569b3'
const ml = 'https://www.coursera.org/account/accomplishments/specialization/5MJ7GGEH4QFC'
const dl = 'https://www.coursera.org/account/accomplishments/specialization/2ARPB87BU7KF'

---


<section class="design-section">
  <h2>Mon parcours</h2>

  <div class="timeline">
    <TimelineOdd title="Formation Integrateur web" content="Openclassroom" />
    <TimelinePair title="Formation Deep learning" content="Coursera" link={dl}/>
    <TimelineOdd title="Formation Machine learning" content="Coursera" link={ml}/>
    <TimelinePair
      title="Formation Data scientist"
      content="Datacamp"
      link={datacamp}
    />
    <TimelineOdd
      title="M2 Droit prive"
      content="Université Toulouse I capitole"
    />
  </div>
</section>

<style lang="scss">
  .design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $second;
    min-height: 60vh;
    padding: 100px 0;
    /* border-top: 2px solid grey; */
   /*  --mask:
    radial-gradient(156.52px at 50% 210.00px,#000 99%,#0000 101%) calc(50% - 140px) 0/280px 51% repeat-x,
    radial-gradient(156.52px at 50% -140px,#0000 99%,#000 101%) 50% 70px/280px calc(51% - 70px) repeat-x,
    radial-gradient(156.52px at 50% calc(100% - 210.00px),#000 99%,#0000 101%) 50% 100%/280px 51% repeat-x,
    radial-gradient(156.52px at 50% calc(100% + 140.00px),#0000 99%,#000 101%) calc(50% - 140px) calc(100% - 70px)/280px calc(51% - 70px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask); */
          clip-path: polygon(0 0,100% 50px,100% calc(100% - 50px),0 100%);
  margin-top: -40px;
    & h2{
      @include title($main)
    }
  }


  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    padding-block: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .timeline-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background: #43d590;
    color: $text-prim;
    padding: 5px;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 20px 10px;
    border-radius: 10px;
  }

  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $timeline;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .timeline-middle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $timeline;
      width: 3px;
      height: 100%;
    }
  }
</style>
