.page-title--cheat,
.page-title-cheat {
  opacity: 0.01;
  animation: rightShift 700ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.page-title---cheat {
  opacity: 0.01;
  animation: leftShift 700ms;
  animation-fill-mode: forwards;
}

.page-title {
  opacity: 0.01;
  animation: upShift-title 3500ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.logo-container {
  opacity: 0.01;
  animation: rightShift 700ms;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.logo {
  opacity: 0.01;
  animation: upShift-title 1500ms;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}

.todo-container {
  opacity: 0.01;
  animation: upShift 700ms;
  animation-fill-mode: forwards;
  animation-delay: 3500ms;
}
