---
import { Picture } from "astro:assets";

import logo from "../../assets/bannerimg/logo.png";
import "./banner.scss";
---

<section class="banner" id="banner">
  <div class="title-container">
    <p class="page-title-cheat">.</p>

    <div class="page-title">
      <h1>
        Bonjour,👋 <br />je suis Jeremy Sersoub,<br /> Developpeur web
      </h1>
    </div>
    <p class="page-title---cheat">.<br />.<br />.<br /></p>

    <p class="page-title--cheat">.<br />.<br />.<br /></p>
  </div>

  <div class="bottom-container">
    <div class="todo-container">
      <p>#TODO :</p>
      <p>- Trouver une alternance</p>
    </div>
    <div class="logo-container">
      <Picture class="logo" src={logo} alt="logo" />
    </div>

    <style lang="scss">
      .banner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: fit-content;
        background: white;
        width: 100%;
        justify-content: space-around;
        background-image: url("../../assets/bannerimg/bgg.png");
        overflow-x: clip;
        
        @media screen and (max-width: 765px) {
          justify-content: center;
          gap: 15vh;
        }
      }

      .page-title {
        & h1 {
          font-size: clamp(24px, 4vw, 72px);
          color: $text-prim;
          text-align: left;
        }
        &-cheat {
          margin-left: clamp(2px, 15vw, 250px);

          &:before {
            background-image: url("../../assets/bannerimg/h1.png");
            background-size: $greenh-width $greenh-height;
            display: inline-block;
            background-repeat: no-repeat;
            width: $greenh-width;
            height: $greenh-height;
            content: "";
            position: absolute;
            transform: translateX(-100%);
            @media screen and (max-width: 500px) {
              transform: translate(-60%, -75%);
            }
          }
        }

        &--cheat {
          font-size: clamp(2vw, 72px, 3vw);
          color: transparent;

          &:after {
            background-image: url("../../assets/bannerimg/h1slash.png");
            background-size: $greenh-width $greenh-height;
            display: inline-block;
            background-repeat: no-repeat;
            width: $greenh-width;
            height: $greenh-height;
            content: "";
            position: absolute;
            transform: translate(0%, 0);
            @media screen and (max-width: 500px) {
              transform: translate(-60%, 140%);
            }
          }
        }
        &---cheat {
          font-size: clamp(2vw, 72px, 3vw);
          color: transparent;

          &:before {
            background-image: url("../../assets/bannerimg/arrowtitre.png");
            background-size: clamp(160px, 20vw, 600px) clamp(60px, 6vw, 200px);
            display: inline-block;
            background-repeat: no-repeat;
            width: clamp(160px, 20vw, 600px);
            height: clamp(60px, 6vw, 200px);
            content: "";
            position: absolute;
            transform: translate(-50%, -30%);
            @media screen and (max-width: 500px) {
              transform: translate(-100%, -75%);
            }
          }
        }
      }
      .title-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 100px;
      }
      .todo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../assets/bannerimg/postit.png");
        background-repeat: none;
        background-size: cover;
        height: clamp(150px, 30vw, 300px);
        width: clamp(150px, 30vw, 300px);
        font-size: clamp(12px, 3vw, 20px);
        text-align: center;
        padding: 10px;
      }

      .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        gap: 15vw;
        @media screen and (max-width: 500px) {
          flex-direction: column-reverse;
          align-items: center;
          justify-content: space-between;
          gap: 10vh;
        }
      }

      .logo-container {
        display: flex;
        justify-content: flex-end;

        &:before {
          background-image: url("../../assets/bannerimg/arrowlogo.png");
          background-size: $logo-width $logo-height;
          display: inline-block;
          background-repeat: no-repeat;
          width: $logo-width;
          height: $logo-height;
          content: "";
          position: absolute;
          z-index: 2;
          transform: translate(-25vw, 8vw);
          @media screen and (max-width: 500px) {
            transform: translate(-31vw, 8vw);
          }
        }
        & .logo {
          position: relative;
          border-radius: 10px;
          width: 20vw;
          height: 20vw;
          min-height: 100px;
          min-width: 100px;
        }
      }
    </style>
  </div>
</section>
